/* Body */
body {

    background-color: $background-color;
}

/* Navbar */
nav {

    background-color: $navbar-background !important;
}

/* Buttons */

.button-main {

    background-color: $button-main;
}
