/* Body */
body {

    background-color: $background-color;
}

/* Navbar */
nav {

    background-color: $navbar-background;
}

/* Buttons */
.button-main {

    background-color: $button-main;
}

/* Footers */

footer {

    background-color: $footer-background;
    color: #fff;
    text-align: left;
    /* Get rid of after test */
    margin-top: 80vh;

    .copyright-footer {

        background-color: $copyright-footer;
    }

    li {

        margin: 3px auto;  
    }

    hr {

        width: 35%;
    }
}

.list-style {
  
    list-style: none; 
    font-weight: 400;
    font-size: 1rem;
    color: white;
    padding-left: 0;

    a {
        color: white;
        text-decoration: none;
        &:hover {

            color: $text-hover;
        }
    }

}


.footer-desc {

    max-width: 70%;
}

.list-title {

    font-weight: 600;
}

