/* Footer Layout */

@media (max-width: 768px) {

    footer {

        text-align: center;

        hr {

            margin: auto;
            width: 15%;
        }
    }

    .footer-desc {

        margin: auto;
    }

    .main-banner {

        height: 60vh;
        background-attachment: unset;
    }

    .main-banner__content {

       display: flex;
       justify-content: center;
       flex-wrap: wrap;
       text-align: center;
       row-gap: 15px;
    }
    
}