/* ==== Variables ===== */

/* Backgrounds */
$background-color: #CAE9FF;
$secondary-background: #BFDBF7;

/* Navbar */
$navbar-background: #1F7A8C;

/* Buttons & Links */
$button-main: #59d1e0;
$text-hover: #59d1e0;

/* Footer */
$footer-background: #1F7A8C;
$copyright-footer: #12444e;


/* Functions */

@function btnHover($btn) {
    
    @return darken($btn, 12%);
}